{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus praesentium distinctio totam architecto eius, adipisci, earum fugit eos nam sit hic beatae quasi in reiciendis
            magni facilis et officiis iste soluta deserunt quae veritatis! Nobis, magni tempore voluptatibus quos nulla fugit. Non animi expedita vero cumque ipsa dolorum eveniet placeat
            doloremque eum ab quisquam quod quam vitae sequi, quasi exercitationem sapiente quis veritatis facere omnis repudiandae. </p><br><p>Officia vel dolores itaque, voluptate provident iusto aliquam accusantium perferendis tenetur? Incidunt architecto aperiam quasi eum minus dolorem iusto, veniam quas. Praesentium culpa aperiam deserunt fugit necessitatibus mollitia aliquid quia numquam iste ipsam! Aperiam et delectus mollitia quos temporibus ex quis aliquid deleniti consequuntur sapiente la
            udantium aspernatur, nisi explicabo quam tempore! Consectetur doloremque maxime beatae maiores atque fugiat numquam! Dolor veritatis accusamus soluta recusandae.</p>
</div>

{% endblock %}
